# Maven
target/
*.log

# Eclipse
.classpath
.project
.settings/
.apt_generated
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# VS Code
.vscode/

# Otros
HELP.md
.mvn/wrapper/maven-wrapper.jar